* {
    padding: 0;
    margin: 0;
}

.info .row {
    margin-top: 10px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    font-weight: 600;
    font-size: 19px;
    color: #020202;
}

.nav-tabs .nav-link.active {
    color: #3F51B5;
}

div.tab-pane {
    min-height: 500px;
    border: 1px solid;
    border-color: #dee2e6;
    border-top: none;
    padding: 10px;
}

.username h3 {
    color: #066d0e;
}

.info h3 {
    font-size: 30px;
    margin-bottom: 5px;
}

.full-name h3 {
    color: #980202;
}

.content-user-profile {
    border: 1px solid #dee2e6;
    border-radius: 12px;
    padding: 27px 25px;
}

.col-6.info label {
    color: #2623af;
    font-weight: 700;
}
